/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* * {
  font-family: "Karla", sans-serif;
} */
#main {
  width: 100%;
}
body {
  background: #16425b;
}
@media (max-width: 600px) {
  #sidebar {
    display: none;
  }
}
#left {
  background: #16425b;
  color: #fff;
  height: 50vh;
}
#lefttext {
  padding-left: 12vw;
  padding-top: 22vh;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: bolder;
}
#hello {
  margin-bottom: -50px;
}
#lefttext2 {
  padding-left: 12vw;
  font-size: 1.2em;
}
#right {
  background: #c75146;
  color: #fff;
  height: 50vh;
}
#righttext,
#righttext2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#hiddendiv {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#subtitle {
  margin-bottom: -5px;
  cursor: pointer;
  font-size: 1em;
}
a {
  color: #fff;
}
#arrow {
  font-size: 1.8em;
  margin-left: 2px;
  cursor: pointer;
}
#sidebar {
  width: 6%;
  height: 1200px;
  background: #ffca3a;
  float: left;
  position: fixed;
}
.arrow {
  padding-left: 55%;
  padding-top: 32.5vh;
  font-size: 1.8em;
}
#left2 {
  background: #16425b;
  color: #fff;
  height: 50vh;
  margin-top: -20px;
}
#right2 {
  background: #4357ad;
  color: #fff;
  height: 50vh;
  margin-top: -20px;
  position: relative;
}
#right2 > div {
  position: relative;
}
#left3 {
  background: #16425b;
  color: #fff;
  height: 100vh;
  margin-top: -20px;
}

.listcontainer {
  cursor: pointer;
}
#right3 {
  background: rgb(254, 127, 45);
  background: linear-gradient(
    180deg,
    rgba(254, 127, 45, 1) 0%,
    rgba(255, 89, 94, 1) 100%
  );

  color: #fff;
  height: 200vh;
  margin-top: -20px;
}
#menutab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 47.5vh;
  margin-left: 4.2vw;
  background: #fff;
}
#icon {
  color: #000;
  font-size: 3em;
  margin-top: -2px;
}
#links {
  background: #0bbc62;
}
.sidenav {
  background: #ffca3a;
}
#email {
  padding-bottom: 60px;
}
#name {
  padding-top: 15px;
}
/* arrow bounce animation */
.bounce {
  -moz-animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite;
  animation: bounce 2.5s infinite;
}
/* .hidden {
  visibility: hidden;
} */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#js {
  color: #fff;
}
#ihtml {
  margin: 10px;
}
#projecticons {
  font-size: 3em;
  padding: 10px;
  cursor: pointer;
}
#icons {
  margin-right: 2vw;
  margin-left: 4vw;
  /* padding-left: 30px; */
}
.row1,
.row3 {
  padding-right: 6vw;
}
.row2 {
  padding-left: 3vw;
}
.meicons {
  font-size: 3em;
  padding: 10px;
}
.camera,
.hiking {
  padding-left: 4vw;
}
.pen {
  padding-right: 6vw;
}
/*swup stuff */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(100px);
}

#abouttext {
  text-transform: none;
  margin-top: -1.5vh;
}
#skills {
  color: #000;
  text-transform: none;
  margin-top: -2vh;
}
#containerstyle {
  min-height: 65px;
}
#containerstyle p {
  padding-top: 7px;
}
/* add to mobile.css */
.collection {
  border-radius: 10px;
}

[data-scroll] {
  transition: all 2.5s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}
.lefttext3 {
  margin-left: 12vw;
  margin-top: 10vh;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: bolder;
}
#marginadjust {
  margin-bottom: -50px;
}
#projectcards {
  margin-top: 8vh;
}
.card {
  border-radius: 5px;
}
.card-image {
  border-radius: 5px;
}
.card-reveal {
  color: #000;
}
#linkleft {
  margin-left: 15px;
}
#push {
  margin-left: -15px;
}
/* #cardwidth {
  width: 280px;
} */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  } /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
